/* Normale Checkboxen ausblenden */

.custom-checkbox {
    display: none;
}

/* Runder Button rund machen */

.custom-button {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important;
}